fastapi
uvicorn[standard]
supabase
python-jose[cryptography]
pydantic
python-dotenv
datadog
psycopg2-binary
asyncpg
pytest
pytest-cov
httpx
pytest-dotenv
ddtrace
pydantic[email]
pydantic-settings
passlib[bcrypt]
pytest-asyncio 
python-multipart
websockets
aiohttp
asyncio-throttle
